<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @properties.each do |property|%>
    <div class="col" style="width: 25%">
      <div class="card" >
        <%= image_tag(property.images[2], class:" card-img-top rounded p-2") %>
        <div class="card-body">
          <h5 class="card-title"><%= property.name %></h5>
          <h6 class="card-subtitle mb-4 mt-2">1 quarto</h6>
          <h5 class="card-text">R$ 6.780/mês</h5>
        </div>
      </div>
    </div>
  <% end%>
</div>
</div>
